@font-face {
    font-family: 'Dosis';
    src: url('../../assets/Dosis-Regular.ttf');
}

@font-face {
    font-family: 'Dosis-Bold';
    src: url('../../assets/Dosis-Bold.ttf');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Dosis';
}

body {
    position: relative;
    height: 200vh;
}
