.about {
  &__container {
    display: grid;
    margin: 0 auto;
  }

  &__description {
    grid-area: description;
    font-size: 1.5rem;
    line-height: 1.75rem;
  }

  &__intro {
    margin-bottom: 16px;
    font-size: 1.8rem;
    line-height: 2rem;
  }
}

.theme {
  &__header {
    display: inline-block;
    position: relative;
    padding: 12px 20px;
    left: -20px;

    &::before {
      content: '';
      position: absolute;
      display: block;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      background-color: #231F20;
    }
  }

  &__title {
    color: #fff;
    position: relative;
  }

  &__description {
    margin-top: 12px;

    ul {
      list-style-type: disc;
      list-style-position: inside;
    }
  }
}

.list {
  list-style-type: none;
  margin-left: 12px;
}

.item {
  margin-bottom: 10px;

  & a {
    position: relative;
    text-decoration: none;
    transition: .3s ease-in-out;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 0;
      left: 50%;
      display: block;
      height: 2px;
      background-color: #231F20;
      transition: .3s ease-in-out;
    }

    &:hover {
      &::after {
        width: 100%;
        left: 0;
      }
    }
  }

  &:first-of-type {
    margin-top: 10px;
  }

  &__description {
    font-size: 1.2rem;
    margin-left: 16px;
  }
}
