.nav {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

    & > a {
        color: #231F20;
        text-decoration: none;
        transition: .3s ease-in-out;
    }

    .header--sticky & {
        justify-content: space-between;
        & > a {
            color: #fff;
        }
    }
}
